.poi {
    border: 1px solid #61dafb;
    margin: 1em;
    padding: 1em;
}

.poi-image {
    max-width: 250px;
    max-height: 50px;
    vertical-align: center;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.category {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 0.25em;
}

.category-image {
    max-height: 24px;
}

.tag{
    background: white;
    border-radius: 10px;
    color: black;
    padding: 0.25em;
}

.tag .category-image{
    max-height: 16px;
}

.status{
    border-radius: 10px;
}