body{
    background-color: #333333;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.PersoBtn{
    border-radius: 8px;
    font-size: 12px;
    padding: 10px 24px;
    background-color: #F8F8FF;
}

.PersoBtn:hover{
    background-color: #4CAF50;
    color: white;
}

#Navbar{
    background-color: #222222;
}
.MenuList {
    list-style-type: none;
}

.liNav {
    float: left;
}

li .divLink:hover:not(.active) {
    background-color: #111;
}

#DivLog{
    display: table;
    padding: 11px;
    margin-left:auto;
    margin-right:0;
}

#DivLog2{
    display: table-cell;
    vertical-align: middle;
}

#BtnLogOut{
    background-color: red;
    color: white;
    border: none;
}

#BtnLogOut:hover{
    background-color: Darkred;
}

#ClocksContainer{
    color:white;
    padding-left: 25%;
}

.Clock{
    display: inline-block;
    padding: 25px;
}

.ClockCountry{
    padding: 10px;
    text-align: center;
}

.CountryFlag {
    display:block;
    margin:auto;
}

#btnMapContainer{
    padding-left: 15px;
    display: inline-block;
}

#btnForMap{
background-color: white;
}

#btnForMap:hover{
    border-color: #4CAF50;
    color: #111111;
}

#smallText{
    color: white;
}

.map{
  height:800px;
  width:98%;
    margin: 1%;
}

#mapxyz{
  height:600px;
  width:100%;
}

.left-align {
    padding:5px;
    float: right;
    float: right;
    position:relative;
    display: block;
}
.centerd {
    border:1px solid green;
    background:gold;
    padding:90px;
    display:inline-block;
}
.DetailsPoi{
display: flex;
}

.leftDetails{
    flex-basis: 20%;
    min-width: 20%;
}

.ListPoi
{
    color:white;
}

.rightDetails{
    flex-grow: 1;
}

.PoiTitle{
    color: white;
    text-decoration: none;
}

.utilitiesBtn{
margin-left: 25px;
padding-bottom: 5px;

}

.utilitie{
    display: inline-block;
    margin-left: 15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.GroupPoi{
    list-style: none;
}

#singleGroupPoi{
    text-align: center;
    padding: 7px;
    background-color: #222222;
    border-radius: 20px;
    margin: 10px;
}

#singleGroupPoi:hover{
    text-align: center;
    background-color: #111111;
    padding: 7px;
    margin: 10px;
    cursor: pointer;
}

#singleGroupPoi::selection {
    background-color: #111111;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}
.wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
}
.row {
  display: table-row;
  background: #f6f6f6;
}
.poi{

  background: #f6f6f6;
}
.row:nth-of-type(odd) {
  background: #e9e9e9;
}
.row.header {
  font-weight: 900;
  color: #ffffff;
  background: #ea6153;
}
.row.green {
  background: #27ae60;
}
.row.blue {
  background: #2980b9;
}
@media screen and (max-width: 580px) {
  .row {
    padding: 14px 0 7px;
    display: block;
  }
  .row.header {
    padding: 0;
    height: 6px;
  }
  .row.header .cell {
    display: none;
  }
  .row .cell {
    margin-bottom: 10px;
  }
  .row .cell:before {
    margin-bottom: 3px;
    content: attr(data-title);
    min-width: 98px;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #969696;
    display: block;
  }
}

.cell {
  padding: 6px 12px;
  display: table-cell;
}

#shareDiv {
    width: 500px;
    height: 500px;
    background-color: #333333;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 999999999;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 16px;
    display: block;
  }
}
