.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}
.map{
  height:500px;
  width: 900px;
}
.cityPan{
  padding-top : 100px;
  width: 200px;
  background-color: #282c34;
  color: aliceblue;
  align-items: center;
  justify-content: center;
}
.delete_btn{

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.ButtonBar {
  border-radius: 8px;
  border: 2px solid #4CAF50;
  font-size: 12px;
  padding: 10px 24px;
  background-color: #F8F8FF;
}

.ButtonBar:hover {
  background-color: #4CAF50;
  color: white;
}